.seccionIzq {
  border-right: 1px dotted #aaa;
  margin-right: 0px;
}

.contenedor {
  margin-top: 30px;
  margin-bottom: 30px;
}

.seccion{
  margin-right: auto;
  margin-left:auto;
  padding-left: 10%;
  padding-right: 10%;
}
.seccionNumber {
  padding: 0 10% 0 10%;

}